<%= form_with(model: @house, local: true, url: choose_new_or_edit ) do |houses| %>
  <div class="input_field">
    <%= houses.label :物件名 %>
    <br>
    <p><%= houses.text_field :property_name %></p>
    <br>
    <%= houses.label :賃料 %>
    <br>
    <p><%= houses.text_field :price %>円</p>
    <br>
    <%= houses.label :住所 %>
    <br>
    <p><%= houses.text_field :street_address %></p>
    <br>
    <%= houses.label :築年数 %>
    <br>
    <p><%= houses.text_field :age_building %>年</p>
    <br>
    <%= houses.label :備考 %>
    <br>
    <p><%= houses.text_area :remarks %></p>    
    <br>
    <hr class="style2">
  <%= houses.submit '登録する', class: 'button' %>
  </div>





  
<% end %>